.root {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  object-fit: contain;
}
